# Dependências
node_modules/
api/node_modules/
graphql/node_modules/
frontend/node_modules/

# Build
api/dist/
graphql/dist/
frontend/dist/
.vite/

# TypeScript
*.tsbuildinfo

# Ambiente
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Uploads
uploads/